include:
- project: 'ci-tools/container-image-ci-templates'
  file: 'kaniko-image.gitlab-ci.yml'
  ref: master
- project: 'ci-tools/container-image-ci-templates'
  file: 'helm.gitlab-ci.yml'
  ref: master

stages:
  - build-bin
  - build-image
  - build-chart

build-bin:
  stage: build-bin
  rules:
    - if: $CI_COMMIT_BRANCH || $CI_COMMIT_TAG
  image: registry.cern.ch/docker.io/library/golang:1.20
  artifacts:
    expire_in: '10 minutes'
    paths:
      - bin/csi-cvmfsplugin
  script:
    - make

build-image:
  rules:
  - if: $CI_COMMIT_TAG
    variables:
      PUSH_IMAGE: "true"
  - if: $CI_COMMIT_BRANCH
  stage: build-image
  extends: .build_kaniko
  variables:
    REGISTRY_IMAGE_PATH: "registry.cern.ch/magnum/cvmfs-csi:$CI_COMMIT_TAG"
    CONTEXT_DIR: "."
    DOCKER_FILE_NAME: "deployments/docker/Dockerfile"

build-chart:
  rules:
  - if: $CI_COMMIT_TAG
    variables:
      PUSH_CHART: "true"
  - if: $CI_COMMIT_BRANCH
  stage: build-chart
  extends: .deploy_helm
  variables:
    REGISTRY_PATH: registry.cern.ch/chartrepo/cern
