kind: Service
apiVersion: v1
metadata:
  name: csi-cvmfsplugin-provisioner
  namespace: {{ .Release.Namespace }}
  labels:
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
    app: csi-cvmfsplugin-provisioner
spec:
  selector:
    app: csi-cvmfsplugin-provisioner
  ports:
    - name: dummy
      port: 12345

---
kind: StatefulSet
apiVersion: apps/v1beta1
metadata:
  name: csi-cvmfsplugin-provisioner
  namespace: {{ .Release.Namespace }}
  labels:
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  serviceName: "csi-cvmfsplugin-provisioner"
  replicas: 1
  template:
    metadata:
      labels:
        release: {{ .Release.Name }}
        heritage: {{ .Release.Service }}
        app: csi-cvmfsplugin-provisioner
    spec:
      serviceAccount: cvmfs-provisioner
      containers:
        - name: csi-provisioner
          image: {{ .Values.csiProvisioner.image }}
          args:
            {{- range $arg := .Values.csiProvisioner.args }}
            - {{ $arg | quote -}}
            {{- end }}
          env:
            - name: ADDRESS
              value: {{ .Values.csiPlugin.pluginDirectory }}/csi.sock
          imagePullPolicy: "IfNotPresent"
          volumeMounts:
            - name: socket-dir
              mountPath: {{ .Values.csiPlugin.pluginDirectory }}
      volumes:
        - name: socket-dir
          hostPath:
            path: {{ .Values.csiPlugin.pluginDirectory }}
            type: DirectoryOrCreate
